.navbar {
    display: flex;
    background-color: #333533;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-site-logo-container img {
    width: 200px;
    background-color: red;
}

.nav-site-name {
    position: relative;
    right: 2rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-signed-out-items li button {
    width: 7rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background-color: #9b5de5;
    border: 2px solid black;
    transition: background-color 0.25s;
}

.nav-signed-out-items li button:hover {
    border-width: 2px;
    background-color: #7209b7;
    cursor: pointer;
}

.nav-signed-in-items li {
    display: flex;
    align-items: center;
}

.nav-signed-in-items li button:active {
    background-color: #5b0594;
}

.nav-signed-in-items li input[type=image] {
    width: 3rem;
    border-radius: 50px;
    margin-left: 6.5rem;
    display: none;
}

.nav-signed-in-items li button {
    width: 7rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background-color: #9b5de5;
    border: 2px solid black;
    transition: background-color 0.25s;
    padding-left: 10px;
}

.nav-signed-in-items li button:hover {
    border-width: 2px;
    background-color: #7209b7;
    cursor: pointer;
}

.nav-signed-in-items li button:active {
    background-color: #5b0594;
}

.navbar-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid white;
    margin-top: 2px;
    margin-right: 10px;
}

.navbar-icon {
    margin-right: 10px;
}
