.loading-spinner {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.loading-section {
    display: flex;
    flex-direction: column;
}

.loading-text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;

}